<div class="container">
  <div class="row my-5">
    <h2 class="text-center">{{ page.title }}</h2>
  </div>
  <div class="accordion" id="accordionFAQ">
    {% for blocks in section.blocks %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="collapse-header-{{ blocks.id }}">
          <button
            class="accordion-button collapsed h2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ blocks.id }}"
            aria-expanded="false"
            aria-controls="{{ blocks.id }}"
          >
            {{ blocks.settings.title }}
          </button>
        </h2>
        <div
          class="accordion-collapse collapse show"
          id="collapse-{{ blocks.id }}"
          aria-labelledby="collapse-header-{{ blocks.id }}"
          data-bs-parent="#accordionFAQ"
        >
          <div class="accordion-body">{{ blocks.settings.answer }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "FAQs",
  "blocks": [
    {
      "name": "FAQ Items",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "FAQ Title"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}
